body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.pr-item-ctr {
	display: inline-block;
}

.pr-item-ctr > div {
	display: inline-block;
}

.pr-item {
	padding: 10px;
	border-bottom: 1px solid #666;
	min-height: 22px;
	line-height: 22px;
	font-size: 16px;
	cursor: pointer;
}

.pr-item:last-child {
	border-bottom: none;
}

.pr-item-number {
	width: 100px;
}

.pr-item-user {
	width: 125px;
}

.pr-user-info img {
	width: 48px;
	height: 48px;
}

.pr-user-info {
	width: 100px;
	overflow: hidden;
}

.pr-item-title {
	vertical-align: top;
	padding-top: 40px;
	max-width: 500px;
}

.pr-repo-header-deets {
	display: inline-block;
}
.pr-repo-header-deets > div {
	display: inline-block;
}

.repo-header,
.pr-header {
	font-size: 22px;
	font-weight: bold;
	min-height: 30px;
	line-height: 30px;
	background-color: #999999;
	color: #333333;
	padding: 10px;
}

.repo-header {
	border-radius: 6px;
	margin-top: 10px;
	cursor: pointer;
}

.pr-header {
	cursor: pointer;
}

.pr-commit-ctr {
	margin: 10px;
	border: 1px solid #666;
}

.pr-comment {
	padding-left: 5px;
}

.pr-commit {
	background-color: #f0f0f0;
	min-height: 22px;
	color: #333333;
	width: 100%;
	display: inline-block;
}

.pr-commit > div {
	display: inline-block;
}

.pr-commit-sha {
	margin-left: 5px;
}

.pr-commit-sha:hover {
	text-decoration: underline;
}

.pr-commit-toggle,
.pr-commit-sha {
	cursor: pointer;
}

.pr-commit-toggle {
	margin-right: 5px;
}

.pr-comment {
	padding-bottom: 10px;
}

.pr-repo-container {
	margin-top: 51px;
	padding: 0 10px 10px;
}

.navbar .brand {
	margin-left: 0;
	padding-left: 10px;
}