<!DOCTYPE html>
<html>
<head>
  <title>PR</title>
  <link rel="stylesheet" href="../bower_components/bootstrap.css/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/main.css">
</head>
<body ng-app="PR">
  <div ui-view="content"></div>
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="../bower_components/underscore/underscore.js"></script>
  <script src="../js/account.js"></script>
  <script src="../js/index.js"></script>
  <script src="../js/pulls.js"></script>
  <script src="../js/pr.js"></script>
  <script src="../js/services/services.js"></script>
  <script src="../js/services/current.js"></script>
  <script src="../js/services/external.js"></script>
  <script src="../js/services/github.js"></script>
  <script src="../js/services/notifier.js"></script>
  <script src="../js/services/persistence.js"></script>
  <script src="../js/services/stats.js"></script>
</body>
</html>
